@import url("theme.css");

:root {
	--2a2a2074: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20width='1745'%20height='1744.5'%20viewBox='0%200%201745%201744.5'%3e%3cdefs%3e%3cradialGradient%20id='radial-gradient'%20cx='0.5'%20cy='0.5'%20r='0.5'%20gradientUnits='objectBoundingBox'%3e%3cstop%20offset='0'%20stop-color='%2300ffd8'/%3e%3cstop%20offset='1'%20stop-color='%23d0ebff'%20stop-opacity='0'/%3e%3c/radialGradient%3e%3c/defs%3e%3cellipse%20id='Ellipse_2'%20cx='872.5'%20cy='872.25'%20rx='872.5'%20ry='872.25'%20opacity='0.196'%20fill='url(%23radial-gradient)'/%3e%3c/svg%3e");
	--2a2a94d3: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20width='1268'%20height='1267.5'%20viewBox='0%200%201268%201267.5'%3e%3cdefs%3e%3cradialGradient%20id='radial-gradient'%20cx='0.5'%20cy='0.5'%20r='0.5'%20gradientUnits='objectBoundingBox'%3e%3cstop%20offset='0'%20stop-color='%23A0C4FF'/%3e%3cstop%20offset='0.507'%20stop-color='%23A0C4FF'%20stop-opacity='0.4'/%3e%3cstop%20offset='1'%20stop-color='%23A0C4FF'%20stop-opacity='0'/%3e%3c/radialGradient%3e%3c/defs%3e%3cellipse%20id='Ellipse_1'%20cx='634'%20cy='633.75'%20rx='634'%20ry='633.75'%20opacity='0.8'%20fill='url(%23radial-gradient)'/%3e%3c/svg%3e");
	--2a2b0932: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20width='1742'%20height='1742'%20viewBox='0%200%201742%201742'%3e%3cdefs%3e%3cradialGradient%20id='radial-gradient'%20cx='0.5'%20cy='0.5'%20r='0.5'%20gradientUnits='objectBoundingBox'%3e%3cstop%20offset='0'%20stop-color='%23ff6c00'/%3e%3cstop%20offset='1'%20stop-color='%23d0ebff'%20stop-opacity='0'/%3e%3c/radialGradient%3e%3c/defs%3e%3ccircle%20id='Ellipse_141'%20data-name='Ellipse%20141'%20cx='871'%20cy='871'%20r='871'%20opacity='0.121'%20fill='url(%23radial-gradient)'/%3e%3c/svg%3e");
}

.wy-nav-content {
    max-width: 1200px !important;
    background-image: var(--2a2a2074),var(--2a2a94d3),var(--2a2b0932);
    background-position: calc(25% - 500px) -30px,calc(50% + 500px) -600px,calc(25%) 400px;
    background-size: 1210px 1210px,1210px 1210px,1210px 1210px;
    background-repeat: no-repeat;
}

.wy-nav-side {
    background-color: #d4fdf7 !important;
    color: #3d3d3d !important;
}

.wy-side-nav-search{
    background-color: #000000 !important;
}

.wy-side-scroll {
    background: transparent !important;
}
.wy-menu-vertical a {
    color: #2b2d30 !important;
    background-color: #d4fdf7 !important;
}

.wy-menu-vertical li.toctree-l1.current {
    background-color: #89a5a1 !important;
}

.wy-menu-vertical p.caption {
    color: #009568;
}

.wy-nav-content-wrap {
    background: #fcfcfc !important;
    background-image: var(--2a2a2074),var(--2a2a94d3),var(--2a2b0932) !important;
    background-position: calc(25% - 500px) -30px,calc(50% + 500px) -600px,calc(25%) 400px !important;
    background-repeat: repeat-y;
}